<div class="card">
    <div class="card-header">
        City Details
      </div>
      <div class="card-body">
         <form [formGroup]="cityInfoForm" (ngSubmit)="save()">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                for="cityName">Name</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="cityName"
                           type="text"
                           placeholder="Name (required)"                           
                           formControlName="name"
                           [ngClass]="{'is-invalid':(cityInfoForm.get('name')?.touched || cityInfoForm.get('name')?.dirty) && !cityInfoForm.get('name')?.valid}"
                            />
                    
                    <span class="invalid-feedback">
                        <span *ngIf="cityInfoForm.get('name')?.errors?.['required']">
                            Please enter your City name.
                        </span>
                        <span *ngIf="cityInfoForm.get('name')?.errors?.['maxLength']">
                            The City name must not be longer than 50 characters.
                        </span>
                    </span>
                    
                  </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                for="cityDesc">Description</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="cityDesc"
                           type="text"
                           placeholder="Description "                           
                           formControlName="description"
                           [ngClass]="{'is-invalid':(cityInfoForm.get('description')?.touched || cityInfoForm.get('description')?.dirty) && !cityInfoForm.get('description')?.valid}"
                            />
                            <span class="invalid-feedback">                               
                                <span *ngIf="cityInfoForm.get('description')?.errors?.['maxLength']">
                                    The City Description must not be longer than 255 characters.
                                </span>
                            </span>
                  </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                  <button class="btn btn-primary mr-3"
                          type="submit"
                          style="width:80px"
                          [disabled]="!cityInfoForm.valid">
                    Save
                  </button>
                   
                </div>
              </div>

            
         </form>
      </div>
</div>
<br>Dirty: {{ cityInfoForm.dirty }}
<br>Touched: {{ cityInfoForm.touched }}
<br>Valid: {{ cityInfoForm.valid }}
<br>Value: {{ cityInfoForm.value | json }}
<br>Errors:{{cityInfoForm}}